{% extends 'base.html.twig' %}

{% block title %}Edit Blog{% endblock %}

{% block body %}

    <h1 class = "mb-5">Edit Blog</h1>

    {{ include('blog/_form.html.twig', {'button_label': 'Update'}) }}


    <a class = "mt-3 btn btn-primary" href="{{ path('blog_index') }}">Back</a>

    {{ include('blog/_delete_form.html.twig') }}

{% endblock %}
