{% extends 'base.html.twig' %}

{% block title %}New Blog{% endblock %}

{% block body %}
    <h1 class = "mb-5">Create new Blog</h1>

    {{ include('blog/_form.html.twig') }}

    <a class="btn btn-primary mt-2" href="{{ path('index_page') }}">Back</a>
{% endblock %}
