{% extends 'base.html.twig' %}

{% block title %}New Blog{% endblock %}

{% block body %}
    <h1 align="center" class="h3 mb-4 mt-2 font-weight-normal">Create new Blog</h1>


    {{ include('blog/_form.html.twig') }}

{% endblock %}
