{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
    <style>
        .error{color:red}
    </style>
    <div>
        <h1 class = "mb-5">Login page</h1>

        {% if error %}
            <span class = "error">{{ error.messageKey }}</span>
        {% endif %}
        <form action = "{{ path('login') }}" method = "POST">
            <div class="form-group">

            <input class="form-control" type = "text" name = "_username" value = "{{ last_username }}" placeholder="Username" />
            <input class="form-control" type = "password" name = "_password"  />
            </div>
            <button type = "submit">Login</button>
        </form>
    </div>


{% endblock %}