{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1 align = "center" class="h3 mb-4 mt-2 font-weight-normal">Sing Up</h1>

    {{ include('user/_form.html.twig') }}

{#    <a class ="btn btn-default mt-3" href="{{ path('user_index') }}">Back to List</a>#}
{% endblock %}
